
.side-bar
 .side-bar__header
  .side-bar__header__name
   kazuki
  .sibe-bar__header__icon
   =link_to "#", class: "contents__btn contents__btn--cog" do
    =icon('fas','cog',class: "contents__btn--icon")   
   =link_to "#", class: "contents__btn contents__btn--edit" do
    =icon('fas', 'edit',class: "contents__btn--icon")

 .side-bar__contents
  .side-bar__contents__group-name
   sample
  .side-bar__contents__message
   aaaaa
