
.side-bar{
  box-sizing: border-box;
  width: 300px;
  color: #ffffff;
  float: left;
  a:active {
 
    color:#fff;
    text-decoration:none;
     
    }
    a:visited {
 
      color:#fff;
      text-decoration:underline;
       
      }

      a:link {
 
        color:#fff;
        text-decoration:underline;
         
        }
      
 &__header {
  display: flex;
  height: 100px;
  background-color: #253141;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
  justify-content: space-between;

  &__name{
    font-size: 16px;
    font-weight: bold;
  }
  
  &__icon{
    color: white;
  }
 }
 &__groups{
  background-color: #2f3e51;
  height: calc(100vh - 100px);
  padding: 0 20px;
  overflow: scroll;
  box-sizing: border-box;
  
  
    
  

 &__contents{
  padding: 20px 20px 40px 20px;
  

 &__group-name{
    font-weight: bold;
    font-size: 15px;
  }
   &__message{
    font-weight: bold;
    font-size: 11px;
  } 
 }
}
}